@font-face {
    font-family: Barriecito;
    src: url(../fonts//Barriecito-Regular.ttf);
}

body,
html {
    margin: 0;
    padding: 0;
}

main {
    background-color: lightgray;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "funct funct screeen" "funct funct example" "author author example";
    grid-template-columns: 33vw 33vw 34vw;
    grid-template-rows: 33vh 57vh 10vh;
}

.home-main-button {
    position: absolute;
    text-decoration: none;
    color: black;
    height: 50px;
    width: 200px;
    line-height: 50px;
    left: calc(100% - 200px);
    top: 33vh;
    text-align: center;
    background: yellow;
    font-family: cursive;
}

.main-functionality {
    display: flex;
    background-image: url('../img/main_background.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    grid-area: funct;
    position: relative;
}

.main-functionality li {
    list-style-type: none;
    font-size: 1.3rem;
    font-family: Barriecito;
    color: dimgray;
}

.main-screenshoot {
    grid-area: screeen;
    background-image: url('../img/app_piskel.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-example {
    grid-area: example;
}

.main-example .wolf {
    background-image: url('../img/wolf.png');
    background-size: cover;
    background-position-y: -50px;
    width: 75%;
    height: 50%;
    margin: 0 auto;
}

.main-example .octupus {
    background-image: url('../img/octupus.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 62%;
    height: 50%;
    margin: auto auto;
}

.main-author {
    grid-area: author;
}

.main-author p {
    font-size: 1.5rem;
    font-family: cursive;
}

.main-author p a {
    color: black;
    text-decoration: none;
    font-family: cursive;
}