html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-areas: "save""app";
    grid-template-rows: 20px auto;
    margin: 0;
    padding: 0;
    position: relative;
    background: rgb(29, 29, 29);
    left: 0;
}

.app {
    grid-area: app;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-areas: "tools-container frames block-container preview" "tools-container . scale preview";
    grid-template-columns: 140px 215px auto auto;
    margin-top: 25px;
}

.save {
    grid-area: save;
}

.frames {
    grid-area: frames;
    width: 100%;
    background: rgb(70, 70, 70);
}

.pallete-container button {
    border: none;
    background: transparent;
    margin: 1vw;
}

.block-container {
    position: relative;
    width: 40vw;
    height: 40vw;
    grid-area: block-container;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEVMTExVVVUnhsEkAAAAHUlEQVR4AWOAAUYoQOePEAUj3v9oYDQ9gMBoegAAJFwCAbLaTIMAAAAASUVORK5CYII=') repeat;
    margin: 0 auto;
    cursor: crosshair;
}

.preview {
    grid-area: preview;
    width: 100%;
}

.mainCanvas,
.skin-canvas,
.live-tools-canvas,
{
    width: 100%;
    image-rendering: pixelated;
    position: absolute;
}

.hide-canvas {
    z-index: -1;
}