::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 6px;
    height: 0px
}

 ::-webkit-scrollbar-track {
    background-color: #32312e;
    box-shadow: 0px 0px 3px #000 inset;
}

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: dimgrey;
    box-shadow: 0px 1px 1px #fff inset;
    background-position: center;
    background-repeat: no-repeat;
}

 ::-webkit-resizer {
    background-repeat: no-repeat;
    width: 7px;
    height: 0px
}

 ::-webkit-scrollbar {
    width: 11px;
}

.preview-list-scroller {
    overflow-y: scroll;
    height: 81vh;
}

.preview-list-scroller * {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.2rem;
}

.preview-list li {
    margin: 3px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEVMTExVVVUnhsEkAAAAHUlEQVR4AWOAAUYoQOePEAUj3v9oYDQ9gMBoegAAJFwCAbLaTIMAAAAASUVORK5CYII=') repeat;
    width: 190px;
    height: 190px;
    position: relative;
    list-style-type: none;
}

.preview-list li button {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid aliceblue;
}

.preview-list-scroller canvas {
    position: absolute;
    image-rendering: pixelated;
    width: 100%;
}

.add-new-frame {
    position: relative;
    left: 7px;
    border: 3px solid darkgrey;
    border-radius: 12px;
    width: 180px;
    height: 50px;
    background: transparent;
    margin-left: 1px;

}
.add-new-frame p {
    font-size: 2rem;
    font-weight: 900;
    color: darkorange;
    display: inline;
}

.frame-delete {
    left: calc(100% - 30px);
    background-image: url('../img/delete.png');
    background-size: cover;
}

.frame-copy {
    left: calc(100% - 30px);
    top: calc(100% - 30px);
    background-image: url('../img/copy.png');
    background-size: cover;
}

.frame-move {
    top: calc(100% - 30px);
    background-image: url('../img/arrows.png');
    background-size: cover;
}

.frame-number {
    position: absolute;
    border: 1px solid firebrick !important;
    background: firebrick !important;
}

.hidden-frame {
    background: dimgrey !important;
}

.frame-number {
    cursor: pointer;
}

.frame-delete:hover {
    cursor: not-allowed;
}

.frame-copy:hover,
.add-new-frame:hover {
    cursor: cell;
}

.frame-move:hover {
    cursor: move;
}

.selected-tool {
    border: 3px solid yellow;
}

.selected {
    border: 3px solid firebrick;
}