.layer-management {
    border: 1px solid;
    width: 200px;
    margin: 0 auto;
}

.layer-management h3 {
    margin: 0;
    padding: 0;
    background: rgb(20, 20, 20);
    color: white;
    height: 31px;
    font-size: 1.4rem;
}

.layer-management ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.layer-management ul * {
    list-style-type: none;
    margin-top: 5px;
    background: rgb(40, 40, 40);
    color: white;
    text-align: center;
}

.layer-0 {
    order: 0;
}

.layer-management li:hover {
    transform: rotate(0.5deg);
    cursor: pointer;
}

.layers-toolbox {
    color: white;
    background: rgb(25, 25, 25);
}

.layers-toolbox button {
    height: 25px;
    width: 25px;
    background: rgb(50, 50, 50);
    margin: 0;
    border: none;
    outline: none;
}

.layers-toolbox button:hover {
    cursor: pointer;
}

.selected-layer {
    border: 1px solid brown;
}