@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

#modal-window {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-header {
    background-color: #2E2E2E;
    color: white;
    display: flex;
    padding: 2px 16px;
}

.popup-body {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 16px;
}

.popup-body .card-tool {
    background-position-y: 25px;
    position: relative;
    left: 27px;
    margin: 0;
    width: 33%;
    background-size: auto;
    background-repeat: no-repeat;
}

.modal-container {
    position: relative;
    width: 150px;
    left: 50px;
}

.popup-body p {
    width: 100%;
}

.modal-input {
    width: 50%;
    border: none;
}

.popup-body .inverse {
    background-size: 50px;
}

.popup-content {
    position: relative;
    background-color: #3C3C3C;
    margin: auto;
    padding: 0;
    width: 80%;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.container-modal-submit {
    display: flex;
    justify-content: center;
}

#modal-submit {
    border: none;
    background-color: dimgrey;
    height: 32px;
    width: 100px;
    color: white;
    font-family: monospace;
}

#modal-submit:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(200, 200, 200)
}