.preview-block {
    width: 18vw;
    height: 18vw;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEVMTExVVVUnhsEkAAAAHUlEQVR4AWOAAUYoQOePEAUj3v9oYDQ9gMBoegAAJFwCAbLaTIMAAAAASUVORK5CYII=') repeat;
    margin: 0 auto;
}

.img-preview-block {
    width: 100%;
    height: 100%;
    position: relative;
}

:fullscreen .img-preview-block {
    width: 100vh;
    position: relative;
    margin: auto;
}

.full-screen {
    position: absolute;
    left: calc(100% - 59px);
    top: calc(100% - 21px);
    background: dimgrey;
    border: 1px solid blanchedalmond;
    font-size: 0.7rem;
    width: 58px;
}

.fps-range {
    width: 18vw;
    margin: 5px auto;
    display: -webkit-box;
}

.fps-value {
    display: inline;
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    color: ghostwhite;
}

.preview-tile button {
    background-color: transparent;
}

.preview-tile:hover {
    transform: rotate(0.5deg);
    cursor: pointer;
}

.full-screen:hover {
    cursor: nw-resize;
}

input:hover {
    cursor: pointer;
}