.scale-container {
    grid-area: scale;
}

.scale-container p {
    margin: 10px;
    display: inline;
}

.ul-scale-container {
    padding: 0;
    margin: 0;
    display: flex;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: aliceblue;
}

#input-scale {
    background: #282828;
    border: 2px solid brown;
    color: white;
    width: 69px;
    text-align: center;
}

#set-scale {
    border: none;
    background: firebrick;
    height: 30px;
    color: white;
}

#input-scale::-webkit-outer-spin-button,
#input-scale::-webkit-inner-spin-button {
    -webkit-appearance: none;
}