.main-tools {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 75%;
}

.main-tools li {
    list-style-type: none;
    width: 50px;
    height: 50px;
    float: left;
    display: block;
    margin-bottom: 2px;
    margin-left: 2px;
    background-color: #464646;
    border-radius: 4px;
}

.pen {
    background-image: url('../img/pen.png');
    background-size: cover;
}

.eraser {
    background-image: url('../img/eraser.png');
    background-size: cover;
}

.mirror-pen {
    background-image: url('../img/mirrorPen.png');
    background-size: cover;
}

.same-color-bucket {
    background-image: url('../img/sameColorB.png');
    background-size: cover;
}

.stroke {
    background-image: url('../img/stroke.png');
    background-size: cover;
}

.circle {
    background-image: url('../img/circle.png');
    background-size: cover;
}

.rectangle {
    background-image: url('../img/rectangle.png');
    background-size: cover;
}

.lighten {
    background-image: url('../img/lighten.png');
    background-size: cover;
}

.dithering {
    background-image: url('../img/dithering.png');
    background-size: cover;
}

.bucket {
    background-image: url('../img/bucket.png');
    background-size: cover;
}

.move {
    background-image: url('../img/move.png');
    background-size: cover;
}

.shape-selection {
    background-image: url('../img/shape.png');
    background-size: cover;
}

.colors-container {
    grid-area: colors-container;
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
}

.flip {
    background-image: url('../img/flip.png');
    background-size: cover;
}

.align {
    background-image: url('../img/align.png');
    background-size: cover;
    background-position-x: -5px;
}

.rotate {
    background-image: url('../img/rotate.png');
    background-size: cover;
}

.inverse {
    background-image: url('../img/inverse.png');
    background-size: cover;
}

.colors-container * {
    margin: 0;
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.secondColor {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
}

.main-tools li:hover {
    cursor: pointer;
}

.additional-tools {
    width: 18vw;
    margin: 5px auto;
    display: table;
}

.additional-tools ul {
    padding: 0;
}

.additional-tools li {
    list-style-type: none;
    width: 50px;
    height: 50px;
    float: left;
    display: block;
    margin: 2px;
    background-color: rgb(70, 70, 70);
    border-radius: 4px;
}

.export-features {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}

.export-features button {
    margin-top: 5px;
    height: 50px;
    width: 62px;
    margin: 5px;
    border: 2px dashed brown;
    background-color: gold;
    padding: 0;
    font-size: 0.8rem;
}

.export-features button:hover {
    cursor: pointer;
    background-color: yellow;
    transition: 0.3s;
}

.user-data {
    display: none;
    float: right;
    height: 40px;
    background: gold;
    border-right: 1vw solid firebrick;
    right: 256px;
    width: 300px;
}

.user-data .btn-primary {
    width: 100px;
    padding: 0;
    color: black;
}

.user-data .btn-primary:hover {
    color: black;
}

.user-data-name {
    height: 100%;
    width: 160px;
    margin: 0;
    color: black;
    font-family: cursive;
    overflow: hidden;
}

.user-data-avatar {
    height: 40px;
    width: 40px;
}

.header-menu {
    position: relative;
}

.header-menu button {
    border: none;
    cursor: pointer;
    background: gold;
    width: 210px;
    height: 40px;
    width: 10.5%;
    font-family: monospace;
}

.header-menu button:hover {
    border-top: 5px solid firebrick;
    height: 45px;
    transition: 0.1s;
    background-color: yellow;
}

.import-label {
    position: fixed;
    bottom: 0;
    display: inline-block;
    cursor: pointer;
    background: firebrick;
    padding: 5px 30px;
    color: white;
}

.hide-input {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

#google-auth {
    position: absolute;
    right: 0;
}

#google-log-out {
    position: relative;
    float: right;
    display: none;
}